
.container {
   
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    max-width: 800px;
    margin:0 auto;
}
.fixedTop{
    margin-top: -0.5rem;
    border-top: 4px solid black;
    padding: 10px;
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 100%;
  
}
.content{
    margin-top: 6rem;
}

.content {
    margin-top: 10rem;
}

.rightContainer{
    position: relative;
}
.right{
    

    position: fixed;
    background-color: white;
    z-index: 4;
}



  @media screen and (max-width: 40em) {
    .container{
        flex-direction: row;
    }
    .container > * {
        flex-basis: 100%;
    }
    .rightContainer{
        padding: 0%;
        color: #73808D;
       font-family: arial;
    font-style: normal;
font-weight: 200;
font-size: 11px;
line-height: 18px;
    }
    h7 {
        color: #73808D;
    }
    p2 {
        color: #73808D;
    }
    p3{
        color: #73808D;
    }
    p4 {
        color: #73808D;
    }
    p5 {
        color: #73808D;
    }
    p6 {
        color: #73808D;
    }
    p7 {
        color: #73808D;
    }
    .left{
        font-family: arial;
font-style: normal;
font-weight: 100;
font-size: 11px;
line-height: 18px;
    }

    }
    
   
   
   

   
    